<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <center><img style="height: 100px;" src="../img/logo_nen-trang.png" alt=""></center>
            <h2 class="h4 text-center" style="font-weight: bolder;">YOU HAVE SIGNED OUT OF YOUR ACCOUNT</h2>
            <form ng-submit="onClickSubmit()">
                
                <div class="d-flex justify-content-between text-decoration-none mt-3 mb-3">
                    <a style="text-decoration: underline; color: black; font-size: 20px;" href="#!login">Login</a>
                    <a style="text-decoration: underline; color: black; font-size: 20px;"
                        href="#!register">Register</a>
                </div>
            </form>
            <a href="#!login"><button class="btn btn-dark border-black rounded-0 form-control mb-5"
                style="height: 45px;">Login</button></a>
        </div>
    </div>
</div>