<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <center><img style="height: 100px;" src="../img/logo_nen-trang.png" alt=""></center>
            <h2 class="h4 text-center" style="font-weight: bolder;">BECOME A NIKE MEMBER</h2>
            <p class="text-center" style="font-size: 14px;">Create your Nike Member profile and get first access to the very best of Nike products, inspiration and community.</p>
            <form ng-submit="onClickSubmit()">
                <input name="account_sdt" class="form-control border-black rounded-0" style="height: 45px;"
                    type="text" placeholder="Tel" style="height: 45px;" required ng-model="account.tel"><br>
                <input name="account_email" class="form-control border-black rounded-0" style="height: 45px;"
                    type="text" placeholder="Email" required ng-model="account.email"><br>
                <input name="account_address" class="form-control border-black rounded-0" style="height: 45px;"
                    type="text" placeholder="Address" required ng-model="account.address"><br>
                <input name="account_user" class="form-control border-black rounded-0" style="height: 45px;"
                    type="text" placeholder="User" required ng-model="account.id"><br>
                <input name="account_pass" class="form-control border-black rounded-0" style="height: 45px;"
                    type="password" placeholder="Password" required ng-model="account.pass">

                <div class="d-flex justify-content-between text-decoration-none mt-3 mb-3">
                    <a style="text-decoration: none; color: black; font-size: 14px;" href="">Forgotten your
                        password?</a>
                    <a style="text-decoration: none; color: black; font-size: 14px;" href="login.html">Login</a>
                </div>
                <p class="text-center" style="font-size: 14px;">By Register, you agree to Privacy Policy <br> and
                    Terms of Use.</p>
                <button type="submit" class="btn btn-dark border-black rounded-0 form-control mb-5"
                    style="height: 45px;">Register</button>
            </form>
        </div>
    </div>
</div>